<header>
    <nav class="title-bar hide-on-large-only">
        <div class="nav-wrapper">
            <div class="container">
                <a class="white-text logo-text no-padding">melinda budde</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse right no-margin">
                    <i class="material-icons white-text">menu</i>
                </a>
            </div>
        </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed">
        <div class="logo-container">
            <a href="index.html" class="white-text logo-text">melinda budde</a>
        </div>
        <li class="side-links active">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
        <li class="side-links">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
        <li class="side-links">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
    </ul>
</header>

<main>
    <div class="container">
        <div class="section scrollspy">
            <h2>C for JavaScript Programmers</h2>
            <ul class="toc white-text">
                <li>1. Section Name</li>
                <li>2. Section Name</li>
                <li>3. Section Name</li>
            </ul>
            <p>
                <em>This teaches C programming to JavaScript developers.</em> This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers.
            </p>

            <div class="quick-steps_container">
                <h4 class="quick-steps_head">Quick Steps</h4>
                <ul class="quick-steps_text">
                    <li>Do step 1</li>
                    <li>Do step 2</li>
                    <li>Do step 3</li>
                </ul>
            </div>

            <h3>Getting Started</h3>
            <p>
                This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers.
            </p>
            <p>
                This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers.
            </p>
            <div class="code-block">
                <code>
                    #include <stdio.h><br>
                    int main (void) { <br>
                    <span class="tab-1">return 0; </span><br>
                    }<br>
                </code>
            </div>
            <h3>Basics</h3>
            <p>
                This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers. This teaches C programming to JavaScript developers.
            </p>
        </div>
    </div>
</main>


<footer class="page-footer">
    <div class="container center">
        <small>&copy; 2015 Melinda Budde</small>
    </div>
</footer>
