<div class="container">
    <h2>melindabudde.com</h2>
    <p>
        This blog will initially focuses on JavaScript and its libraries, but as it grows, it will explore all kinds of programming topics. Some articles are quick reference while others are in-depth tutorials made for beginners and advanced developers alike.
    </p>
    <h3>About This Site</h3>
    <p>
        Writing about things has always helped me to learn them, so I have a lot of notes on JavaScript and programming in general. This site began as a way for me to share the notes with others who might find them helpful. The first of these appear as the two guides, <a href="#/managing-dependencies-with-npm"><strong>Managinging Dependencies with NPM</strong></a> and <a href="#/setting-up-a-front-end-environment"><strong>Setting Up a Front-End Environment on the Mac</strong></a>. There will also be general notes, vocabulary lists, and tutorials. The first of these tutorials is <a href="#/building-an-app-with-backbone-marionette-and-browserify"><strong>Building an Application with Backbone, Marionette, and Browserify.</strong></a>
    </p>
    <p>
        Make sure to check other sources to verify what you read on this site. This will not only help catch any mistakes I might make, but it will also help reinforce what you learn!
    </p>
    <h3>About Melinda Budde</h3>
    <p>
        I am a software engineer, currently spending most of my professional time writing JavaScript in Backbone and React Native. On my off time, I enjoy writing this blog while indulging in a vanilla latte.
    </p>
</div>
