<div class="container">
    <h2>JavaScript Tutorials and Reference</h2>
    <p>
        This blog focuses on JavaScript and related libraries, but will also cover other
        programming topics. Some articles are quick reference while others are in-depth
        tutorials made for beginners and advanced developers alike.
    </p>
    <h3>About Melinda Budde</h3>
    <p>
        I am a software engineer, currently spending most of my professional time writing
        JavaScript in Backbone and React Native. On my off time, I might be found sitting
        back, sipping a latte while indulging in books on networks or C.
    </p>
</div>
