<div class="container">
    <h3>Disclaimer</h3>
    <p>
        It is the intention of the site author to provide accurate informational content. However, the author cannot guarantee that the content is accurate or complete on this site. All content is opinion only. Use any of the code or information at your own risk. The author recommends verifying all information with other sources. This site and the author of the site are not liable or responsible for any losses and/or damages that may occur due to the use of the information or code on this site.
    </p>
    <p>

        Please be advised that this site and the author of this site are not liable or responsible for any losses and/or damages that may occur from the use of outside sites, products, libraries, and/or frameworks that are linked to, discussed, or used in tutorials and examples on this site.
    </p>
    <p>
        By using this site, you agree to this disclaimer.
    </p>
</div>
