<header>
    <nav class="title-bar hide-on-large-only">
        <div class="nav-wrapper">
            <div class="container">
                <a class="white-text logo-text no-padding">melinda budde</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse right no-margin">
                    <i class="material-icons white-text">menu</i>
                </a>
            </div>
        </div>
    </nav>

    <ul id="nav-mobile" class="side-nav fixed">
        <div class="logo-container">
            <a href="index.html" class="white-text logo-text">melinda budde</a>
        </div>
        <li class="side-links active">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
        <li class="side-links">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
        <li class="side-links">
            <a href="c-for-javascript-programmers.html">
                C for JavaScript Programmers
            </a>
        </li>
    </ul>
</header>
