body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

html {
    font-family: 'Quicksand', sans-serif;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

h3 {
    font-size: 2rem;
    color: #276392 !important;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #276392 !important;
    margin: 3rem 0 0 0;
}

p {
    font-size: 16px;
}

code {
    font-family: 'Fira Mono', monospace;
}

.side-links {
    border-bottom: 1px solid #7da8ca;
}

.side-nav.fixed li a {
    font-weight: 500;
    font-size: 15px;
    padding: 0 16px;
}

.side-nav li > a {
    color: white;
}

.side-nav li > a:hover {
    background-color: #7da8ca !important;
    color: white !important;
}

.side-nav li.active,
.side-nav li.active a {
    background-color: #d7ebfb;
    color: #276392;
}

.logo-text {
    font-size: 22px;
    font-weight: 400;
    padding: 0 16px;
}

.toc {
    padding: 20px !important;
    background-color: #276392;
    border-radius: 4px;
}

.tab-1 {
    padding-left: 1rem;
}

.code-block {
    background-color: #d7ebfb;
    padding: 20px;
    width: 100%;
    border-radius: 4px;
}

.logo-container {
    border-bottom: 1px solid #7da8ca;
    height: 64px;
    line-height: 64px;
}

.side-nav, .title-bar {
    background-color: #276392;
}

.page-footer {
    background-color: transparent !important;
    color: black;
    padding-bottom: 10px;
}

.toc li {
    font-weight: 600;
    color: white;
}

.toc li:hover {
    color: #f9eabc;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.quick-steps_container {
    padding: 20px !important;
    background-color: #f9eabc;
    border-radius: 4px;
}

.quick-steps_head {
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.quick-steps_text {
    color: black;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
}
