body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-size: 16px;
}

html {
    font-family: 'Quicksand', sans-serif;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #276392;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 3.625rem 0 0 0;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 3rem;
}

ol, ul {
    padding-left: 1.25rem;
}

li::before {
    color: blue;
}

a {
    color: #276392;
}

a:hover {
    color: #7da8ca;
}

code {
    font-family: 'Roboto Mono', monospace;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed {
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem !important;
}

.container {
    max-width: 840px;
}

.comment {
    color: #828080;
}

.file-name {
    color: #828080;
    margin-bottom: -0.5rem;
    margin-top: 1.5rem;
    font-size: 0.875rem;
}

.logo-container {
    border-bottom: 1px solid #7da8ca;
    height: 4rem;
    line-height: 4rem;
}

.logo-text {
    font-size: 1.375rem;
    font-weight: 400;
    padding: 0 1rem;
}

.page-footer {
    background-color: transparent !important;
    color: black;
    padding-bottom: 0.625rem;
}

.section {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.side-links {
    border-bottom: 1px solid #7da8ca;
    padding-left: 0;
}

.side-nav.fixed .side-links a {
    font-size: 1rem;
    font-weight: 500;
}

.side-nav .side-links > a {
    color: white;
    display: block;
    height: auto;
    line-height: 1.375rem;
    padding: 1rem;
}

.side-nav .side-links > a:hover {
    background-color: #7da8ca;
    color: white;
}

.side-nav .side-links.active a,
.side-nav .side-links.active a:hover {
    background-color: #d7ebfb;
    color: #276392;
}

.side-nav,
.title-bar {
    background-color: #276392;
}

.tips__head {
    border-bottom: 1px solid white;
    color: #795548;
    font-family: 'Overlock', cursive;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

/*TABS FOR CODE BLOCKS*/

.tab-1 {
    padding-left: 1rem;
}

.tab-2 {
    padding-left: 2rem;
}

.tab-3 {
    padding-left: 3rem;
}

.tab-4 {
    padding-left: 4rem;
}

/*PADDING AND MARGIN*/

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

/*BACKGROUND COLORS*/

.beige {
    background-color: #f9eabc;
}

.beige-hover:hover {
    color: #f9eabc !important;
}

.mb-blue {
    background-color: #276392;
}

.mb-blue.lighten-1 {
    background-color: #7da8ca;
}

.mb-blue.lighten-2 {
    background-color: #d7ebfb;
}

/*TEXT COLORS*/

.brown-text {
    color: #795548;
}


/*TYPOGRAPHY*/

.bold {
    font-weight: 500;
}

.semi-bold {
    font-weight: 400;
}

.extra-bold {
    font-weight: 700;
}
